@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  --blue: #81ccf1;
  --yellow: #efc66a;
  --pink: #d8a6cb;
  --dark-pink: #c59ece;
  --purple: #9996cb;
}

html {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #9996cb, #ab99cc, #bb9dcd, #caa1cc, #d8a6cb);
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  height: 100vh;
}

.container {
  display: grid;
  min-width: 320px;
  /* grid-template-columns: repeat(10, 1fr) ; */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* width: 100vh; */
  height: 100vh;
}


.item-1 {
  background: var(--yellow);
  grid-column: 1 /2;
  grid-row: 5 / 10;
}

.item-2 {
  background: var(--blue);
  grid-column: 1 / 4;
  grid-row: 7 / 9;
}

.item-3 {
  background: hotpink;
  grid-column: 5/8;
  grid-row: 6 / 11;
  /* grid-area: 6 / 5 / 10 / 8; */
}

.item-4 {
  grid-area: 5 / 6 / 8 / 9;
  box-shadow: inset 0 0 10px 0 var(--blue);
}

.item-5 {
  grid-area: 3 / 7 / 9 / 10;
  box-shadow: inset 0 0 10px 0 var(--blue);

}

.item-6 {
  /* font-size: 40px; */
  grid-column: 6/9;
  grid-row: 3/5;
  display: grid;
  justify-items: center;
  align-items: center;
}

.item-6 p {
  margin: 0;
}


.item-7 {
  background: hotpink;
  grid-column: 3/ 4;
  grid-row: 3/4;
}


.item-8 {
  /* font-size: 1.5rem; */
  display: grid;
  grid-column-start: 3;
  grid-row: 2/4;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  justify-items: center;
  align-items: start;
}

.item-8 p {
  margin: 0;
}